/* In IE vs Chrome, the column of textarea is different */
form.basic {
    position:relative;
}

div.section, div.section2 {
    display: block;
    width: 335px;
	/*border: 1px solid red;*/
	padding: 4px;
}
div.section2 {
    position: relative;
	top: -301px;
	left: 339px;
}
div.section2 {
    position: absolute;
	top: 0px;
	left: 345px;
}

.field, .fieldgrp {
    display: block;
    padding: 4px 4px;
} 
.field label {
	padding-right: 5px;
}
.field input[type=text], select{
	float: right;
}

.error {
    color:red;
}

div.main {
    padding-left:10px;
}