/* In IE vs Chrome, the column of textarea is different */
form.basic {
    position:relative;
}

div.section, div.section2 {
    display: block;
    width: 355px;
	/*border: 1px solid red;*/
	padding: 4px;
}
div.section2 {
    position: relative;
	top: -301px;
	left: 344px;
}
div.section2 {
    position: absolute;
	top: 0px;
	left: 350px;
}

.field, .fieldgrp {
    display: block;
    padding: 4px 4px;
} 
.field label {
	padding-right: 5px;
}
.field input[type=text] {
	float: right;
}
.field  input[type=password] {
	float: right;
}
.field  select {
	float: right;
}

.error {
    color:red;
}

div.main {
    padding-left:10px;
    padding-right:10px;
    /*float:left;
    display: block;*/
    display:table-cell;
    width:12000px;
}

#menu.v {
    background: #E7E7E7; 
    width:200px;
    display:table-cell;
    vertical-align:top;
    /*display: block;
    float: left;*/
}

.titre {
    font-size:2em;
    font-weight:bold;
    padding:10px;
}
.wrap {
    height:30px;
    /*margin-bottom:30px;*/
}

.details {
    border-radius: 25px;
    background: #CCCCCC;
    border: 2px solid #000000;
    box-shadow: 5px 5px 2px #888888;
    position: absolute;
    top: 170px;
    left: 40px;
    min-width: 400px;
    display:none;
}

.mt {
    top: 160px;
    left: 220px;
}

.details > .core {
    background: white;
    border: 1px solid #000000;
}

.details > .core >.inner {
    padding: 0px 10px 0px 10px;
}
.details > .core >.inner.first {
    padding-top: 10px;
}
.details > .core >.inner.last {
    padding-bottom: 10px;
}
.details > .top {
    padding: 5px 5px 5px 15px;
    font-size:1.5em;
}
.details > .bot {
    padding: 5px 5px 5px 15px;
}

.lstPerm {
    min-width: 190px;
}

.mapDetails {
    min-width: 40px;
    max-width: 180px;
}

.mapDetails > .top {
    padding: 5px 5px 5px 15px;
    font-size:1.1em;
    text-decoration:underline;
    text-align:left;
    color: blue;
    font-weight:bold;
}

.mapDetails > .core {
    /*background: white;
    border: 1px solid #000000;*/
}

.mapDetails > .core >.inner {
    padding: 0px 10px 0px 10px;
    font-size:0.9em;
}

.mapDetails > .core >.inner >.link {
    font-size:0.8em;
    text-decoration:underline;
}
.mapDetails > .core >.inner >.label {
    font-size:0.9em;
    font-weight:bold;
}
.mapDetails > .core >.inner.first {
    padding-top: 10px;
}
.mapDetails > .core >.inner.last {
    /*padding-bottom: 10px;*/
    text-align:right;
}


.pageDetails {
    border-radius: 25px;
    background: #CCCCCC;
    border: 2px solid #000000;
    box-shadow: 5px 5px 2px #888888;
    margin: 20px 20px 10px 10px;
}

.pageDetails > .core {
    background: white;
    border: 1px solid #000000;
}

.pageDetails > .core >.inner {
    padding: 0px 10px 0px 10px;
}
.pageDetails > .core >.inner.first {
    padding-top: 10px;
}
.pageDetails > .core >.inner.last {
    padding-bottom: 10px;
}
.pageDetails > .top {
    padding: 5px 5px 5px 15px;
    font-size:1.5em;
    min-height: 25px;
}
.pageDetails > .bot {
    padding: 5px 5px 5px 15px;
    min-height: 25px;
}



.slider {
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -webkit-border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
    border-radius: 5px 0 0 5px;
}
.slider_inner {
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -webkit-border-radius: 0 0 0 5px;
    -moz-border-radius: 0 0 0 5px;
    border-radius: 0 0 0 5px;
    z-index: 2;
}
.slider > span {
    padding-bottom: 20px;
    float: right;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);

    /* also accepts left, right, top, bottom coordinates; not required, but a good idea for styling */
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;

    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

#slideFilter {
    background: darkgrey;
    position: fixed;
    top: 180px;
    right: 0;
    width: 25px;
    padding: 29px 0;
}
#slideFilter > .slider_inner {
    position: fixed;
    top: 180px;
    right: -250px;
    background: darkgrey;
    width: 200px;
    padding: 25px;
    height: 250px;
}
#slideFilter:hover {
    right: 249px;
}
#slideFilter:hover .slider_inner {
    right: 0;
}


#slideLayout {
    background: rgb(100, 96, 96);;
    position: fixed;
    top: 280px;
    right: 0;
    width: 25px;
    padding: 29px 0;
}
#slideLayout > .slider_inner {
    position: fixed;
    top: 180px;
    right: -250px;
    background: rgb(100, 96, 96);;
    width: 200px;
    padding: 25px;
    height: 160px;
}
#slideLayout:hover {
    right: 249px;
}
#slideLayout:hover .slider_inner {
    right: 0;
}


.slider_inner textarea {
    width: 190px;
    height: 100px;
    margin-bottom: 6px;
}