/* In IE vs Chrome, the column of textarea is different */
form.basic {
    position:relative;
}

div.section, div.section2 {
    display: block;
    width: 355px;
	/*border: 1px solid red;*/
	padding: 4px;
}
div.section2 {
    position: relative;
	top: -301px;
	left: 344px;
}
div.section2 {
    position: absolute;
	top: 0px;
	left: 350px;
}

.field, .fieldgrp {
    display: block;
    padding: 4px 4px;
} 
.field label {
	padding-right: 5px;
}
.field input[type=text], select{
	float: right;
}

.error {
    color:red;
}

div.main {
    padding-left:10px;
    /*float:left;
    display: block;*/
    display:table-cell;
}

#menu.v {
    background: #E7E7E7; 
    width:200px;
    display:table-cell;
    vertical-align:top;
    /*display: block;
    float: left;*/
}

.titre {
    font-size:2em;
    font-weight:bold;
    padding:10px;
}
.wrap {
    height:30px;
    /*margin-bottom:30px;*/
}

.details {
    border-radius: 25px;
    background: #CCCCCC;
    border: 2px solid #000000;
    box-shadow: 5px 5px 2px #888888;
    position: absolute;
    top: 170px;
    left: 40px;
    min-width: 400px;
    display:none;
}
.details > .core {
    background: white;
    border: 1px solid #000000;
}

.details > .core >.inner {
    padding: 0px 10px 0px 10px;
}
.details > .core >.inner.first {
    padding-top: 10px;
}
.details > .core >.inner.last {
    padding-bottom: 10px;
}
.details > .top {
    padding: 5px 5px 5px 15px;
    font-size:1.5em;
}
.details > .bot {
    padding: 5px 5px 5px 15px;
}
