<!DOCTYPE html>
<html>
<head>
  <title>Manage Buildings</title>
  <script src="libs/angular.min.js"></script>

<style>
/* In IE vs Chrome, the column of textarea is different */
form {
	border:1px solid black;
	width:695px; 
	height:300px;
}

.section, .section2 {
    display: block;
    width: 330px;
	/*border: 1px solid red;*/
	padding: 4px;
}
.section2 {
    position: relative;
	top: -301px;
	left: 339px;
}

.field, .fieldgrp {
    display: block;
    padding: 4px 4px;
} 
.field label {
	padding-right: 5px;
}
.field input[type=text]{
	float: right;
}

.error {
    color:red;
}

</style>
</head>
<body data-ng-app="BuildingApp">
	<h1>Add a building</h1>
	<div data-ng-controller="buildingCTL">
		<div data-ng-show="bldForm.$dirty && bldForm.$invalid">
			<span class="error" data-ng-show="bldForm.reference.$error.required">reference is required.</span>
			<span class="error" data-ng-show="bldForm.latitude.$error.required">Lalitude is required.</span>
			<span class="error" data-ng-show="bldForm.latitude.$error.pattern">Invalid lalitude format.</span>
			<span class="error" data-ng-show="bldForm.longitude.$error.required">Longitude is required.</span>
			<span class="error" data-ng-show="bldForm.longitude.$error.pattern">Invalid longitude format.</span>
			<span class="error" data-ng-show="bldForm.bldName.$error.required">bldName is required.</span>
			<span class="error" data-ng-show="bldForm.cPostal.$error.pattern">Invalid code postal format.</span>
			<span class="error" data-ng-show="bldForm.startDate.$error.pattern">Invalid start date format.</span>
			<span class="error" data-ng-show="bldForm.endDate.$error.pattern">Invalid end date format.</span>
		</div>
		<form name="bldForm" novalidate >
			<input type="hidden" id="id" name="id" data-ng-model="bld.id" />
			<div class="section">
				<div class="field"><label for="reference"># reference * :</label><input type="text" id="reference" name="reference" data-ng-model="bld.reference" required /></div>
				<div class="field"><label for="latitude">latitude * (xx.xxxxxx):</label><input type="text" id="latitude" name="latitude" data-ng-model="bld.latitude" required data-ng-pattern="/^[0-9][0-9]\.[0-9]{6}$/" /></div>
				<div class="field"><label for="longitude">longitude * (xx.xxxxxx):</label><input type="text" id="longitude" name="longitude" data-ng-model="bld.longitude" required data-ng-pattern="/^[0-9][0-9]\.[0-9]{6}$/" /></div>
				<div class="field"><label for="bldName">Name * :</label><input type="text" id="bldName" name="bldName" data-ng-model="bld.bldName" required /></div>
				<div class="field"><label for="desc">description:</label><textarea cols="38" rows="5" id="desc" name="desc" data-ng-model="bld.desc"></textarea></div>
				<div class="field"><label for="cPostal">Is temporary?</label><input type="checkbox" name="isTemporary" data-ng-checked="{{bld.temp}}" /></div>
				<div class="field"><label for="startDate">start date (MM-dd-yyyy):</label><input type="text" id="startDate" name="startDate" data-ng-model="bld.stardDate" data-ng-pattern="/^(?:(?:31(\/|-|\.)(?:0?[13578]|1[02]))\1|(?:(?:29|30)(\/|-|\.)(?:0?[1,3-9]|1[0-2])\2))(?:(?:1[6-9]|[2-9]\d)?\d{2})$|^(?:29(\/|-|\.)(?:0?2|(?:Feb))\3(?:(?:(?:1[6-9]|[2-9]\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00))))$|^(?:0?[1-9]|1\d|2[0-8])(\/|-|\.)(?:(?:0?[1-9])|(?:1[0-2]))\4(?:(?:1[6-9]|[2-9]\d)?\d{2})$/" /></div>
				<div class="field"><label for="endDate">end date (MM-dd-yyyy):</label><input type="text" id="endDate" name="endDate" data-ng-model="bld.endDate" data-ng-pattern="/^(?:(?:31(\/|-|\.)(?:0?[13578]|1[02]))\1|(?:(?:29|30)(\/|-|\.)(?:0?[1,3-9]|1[0-2])\2))(?:(?:1[6-9]|[2-9]\d)?\d{2})$|^(?:29(\/|-|\.)(?:0?2|(?:Feb))\3(?:(?:(?:1[6-9]|[2-9]\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00))))$|^(?:0?[1-9]|1\d|2[0-8])(\/|-|\.)(?:(?:0?[1-9])|(?:1[0-2]))\4(?:(?:1[6-9]|[2-9]\d)?\d{2})$/" /></div>
			</div>
			<div class="section2">
				<div class="field"><label for="adr">Adress:</label><input type="text" id="adr" name="adr" data-ng-model="bld.adr" /></div>
				<div class="field"><label for="city">City:</label><input type="text" id="city" name="city" data-ng-model="bld.city" /></div>
				<div class="field"><label for="prov">province:</label><input type="text" id="prov" name="prov" data-ng-model="bld.province" /></div>
				<div class="field"><label for="contry">contry:</label><input type="text" id="contry" name="contry" data-ng-model="bld.contry" /></div>
				<div class="field"><label for="cPostal">postal code (X5X 5X5):</label><input type="text" id="cPostal" name="cPostal" data-ng-model="bld.cPostal" data-ng-pattern="/^(?!.*[DFIOQU])[A-VXY][0-9][A-Z] [0-9][A-Z][0-9]$/" /></div>
			</div>
		</form>
		<button type="sumbit" ng-disabled="bldForm.$invalid">Save</button>
	</div>

	<script>
		var app = angular.module('BuildingApp', []);
	</script>
	<script>
		app.controller('buildingCTL', function($scope) {
			$scope.bld = {id: "1",
							reference :"test",
							latitude:"test2",
							longitude:"test3",
							bldName:"test4",
							desc:"test5",
							temp:true,
							stardDate:"test7",
							endDate:"test8",
							adr:"test9",
							city:"test10",
							province:"test11",
							contry:"test12",
							cPostal:"test13"};
			/*$scope.bld.validation = function() {
			
			}*/
		});
	</script>
	
	<h1>Building List</h1>
	<div data-ng-controller="bldListCTL">
        <span class="error">{{error}}</span>
		<table border="1">
            <th>Reference</th><th>Name</th><th>Latitude</th><th>Longitude</th>
			<tr data-ng-repeat="b in bldList">
				<td>{{b.reference}}</td><td>{{b.bldName}}</td><td>{{b.latitude}}</td><td>{{b.longitude}}</td>
			</tr>
		</table>
	</div>
	<script>
		app.controller('bldListCTL', function($scope, $http) {
            $http.post("/mesto/php/DAOBuilding.php").success(
                function(data) {
                    $scope.bldList = data;
                }).error(
                    function(data, status, headers, config, statusText) {
                        $scope.error = "error: "+status+":"+statusText;
                        //$scope.error = "error: "+data+" -- "+status+" -- "+headers+" -- "+config;
                    })
			/*$scope.bldList = [{reference :"test",
							latitude:"test2",
							longitude:"test3",
							bldName:"test4"},
							{reference :"tst",
							latitude:"tst2",
							longitude:"tst3",
							bldName:"tst4"}
							];*/
		});
	</script>
</body>

</html>