<script type="text/javascript">
    $(document).ready(function() {
        $('#menu').load('mt-admin/mt-menu.html');
    });
</script>
<div id="menu" class="v" ></div>
<div class="main" >
	<span class="titre">Add an equipment</span>
	<div>
		<div data-ng-show="equipmentForm.$dirty && equipmentForm.$invalid">
			<span class="error" data-ng-show="equipmentForm.serialNumber.$error.required">A serial number is required.</span>
			<span class="error" data-ng-show="equipmentForm.parentSiteName.$error.doubleAssociation">This equipment can't be associate with a site if it's already associate on a room.</span>
		</div>
        <span class="error">{{SQLErrors}}</span>
        <span class="t">{{SQLMsgs}}</span>
		<form class="basic" name="equipmentForm" novalidate >
			<input type="hidden" id="id" name="id" data-ng-model="equipment.id" />
			<div class="section">
				<div class="field"><label for="serialNumber">Serial number * :</label><input type="text" id="serialNumber" name="serialNumber" data-ng-model="equipment.serialNumber" required /></div>
				<div class="field"><label for="barCode">Bar Code :</label><input type="text" id="barCode" name="barCode" data-ng-model="equipment.barCode" /></div>
				<div class="field"><label for="manufacturer">Manufacturer :</label><input type="text" id="manufacturer" name="manufacturer" data-ng-model="equipment.manufacturer" /></div>
				<div class="field"><label for="model">Model :</label><input type="text" id="model" name="model" data-ng-model="equipment.model" /></div>
				<div class="field"><label for="configHW">HW Config :</label><input type="text" id="configHW" name="configHW" data-ng-model="equipment.configHW" /></div>
				<div class="field"><label for="configSW">SW Config :</label><input type="text" id="configSW" name="configSW" data-ng-model="equipment.configSW" /></div>
				<div class="field"><label for="type">Type :</label><select id="type" data-ng-model="equipment.type" name="type" data-ng-options="type.value as type.label for type in TYPE"></select></div>
				<div class="field">
                    <label for="prRoom">Assigned Room:</label><input type="text" id="prRoom" name="parentRoomName" data-ng-model="equipment.parentRoom.roomID" disabled />
                    <button id="btnLinkRoom" data-ng-click="openRoomList()" >...</button>
                    <button id="btnCleanRoom" data-ng-click="cleanAssociateRoom()" >X</button>
                </div>
                <div class="field">
                    <label for="prSite">Assigned Site:</label><input type="text" id="prSite" name="parentSiteName" data-ng-model="equipment.parentSite.name" disabled />
                    <button id="btnLinkSite" data-ng-click="openSiteList()" >...</button>
                    <button id="btnCleanSite" data-ng-click="cleanAssociateSite()" >X</button>
                </div>
			</div>
		</form>
		<button id="btnSave" data-ng-click="save();" ng-disabled="equipmentForm.$pristine || equipmentForm.$invalid">Save</button>
		<button id="btnDelete" data-ng-click="delete();" ng-disabled="!canDelete">Delete</button>
        <button id="btnReset" data-ng-click="resetFrm();resetMsg();" ng-disabled="equipmentForm.$pristine">Reset</button>
	</div>
    
	<div>
        <h1>Equipment List</h1>
        <span class="error" data-ng-show="lstError">{{lstError}}</span>
		<table border="1">
            <tr><th>Serial Number</th><th>Model</th></tr>
			<tr data-ng-repeat="e in equipmentList" data-ng-click="loadEquipment(e)">
				<td>{{e.serialNumber}}</td><td>{{e.model}}</td>
			</tr>
		</table>
	</div>
    
    <div id="lstRoom" class="details" style="top:200px;left:400px;">
        <div class="top">Rooms List</div>
        <div class="core">
            <div class="inner first"><span class="error" data-ng-show="lstRmErr">{{lstRmErr}}</span></div>
            <div class="inner">Assigned the equipment to a room by clicking on the row.</div>
            <div class="inner last">
                <table border="1">
                    <tr><th>Room ID</th><th>Point of Contact</th></tr>
                    <tr data-ng-repeat="r in roomList" data-ng-click="associateRoom(r);validDoubleAssociation();">
                        <td>{{r.roomID}}</td><td>{{r.pointOfContact}}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="bot"><button id="btnCloseLstRoom" data-ng-click="closeRoomList()">Close</button></div>
    </div>
    
    <div id="lstSite" class="details" style="top:200px;left:400px;">
        <div class="top">Sites List</div>
        <div class="core">
            <div class="inner first"><span class="error" data-ng-show="lstStErr">{{lstStErr}}</span></div>
            <div class="inner">Assigned the equipment to a site by clicking on the row.</div>
            <div class="inner last">
                <table border="1">
                    <tr><th>id</th><th>Reference</th><th>Name</th><th>Latitude</th><th>Longitude</th></tr>
                    <tr data-ng-repeat="s in siteList" data-ng-click="associateSite(s);validDoubleAssociation();">
                        <td>{{s.id}}</td><td>{{s.reference}}</td><td>{{s.siteName}}</td><td>{{s.latitude}}</td><td>{{s.longitude}}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="bot"><button id="btnCloseLstSite" data-ng-click="closeSiteList()" >Close</button></div>
    </div>
    
    <div class="wrap"></div>
</div>