<div <div id="menu" class="v" data-ng-include="'mt-admin/mt-menu.html'"></div> 
<div class="main admin" >
	<span class="titre">Add an user</span>
	<div>
		<div data-ng-show="userForm.$dirty && userForm.$invalid">
			<alert type="danger" data-ng-show="userForm.email.$error.required">An email is required.</alert>
			<alert type="danger" data-ng-show="userForm.email.$error.pattern">Invalid email.</alert>
			<alert type="danger" data-ng-show="userForm.username.$error.required">An username is required.</alert>
			<alert type="danger" data-ng-show="userForm.password.$error.required">A password is required.</alert>
			<alert type="danger" data-ng-show="userForm.password.$error.pattern">Invalid password, must contain one number, one uppercase, one special symbol [$%?&*!#] and at least 8 characters long.</alert>
			<alert type="danger" data-ng-show="userForm.role.$error.required">A role is required.</alert>
			<alert type="danger" data-ng-show="userForm.phone.$error.pattern">Invalid Phone number.</alert>
		</div>
        <alert type="danger" data-ng-show="SQLErrors">{{SQLErrors}}</alert>
        <alert type="success" data-ng-show="SQLMsgs">{{SQLMsgs}}</alert>
		<form class="basic" name="userForm" novalidate >
			<input type="hidden" id="id" name="id" data-ng-model="user.id" />
            <div style="position:absolute;right:5px;top:0px;" data-ng-if="user.id > 0">Last update : {{user.updateBy}}, {{user.updateDate}}</div>
			<div class="section">
				<div class="field"><label for="email">Email *(lowercase only) :</label><input type="text" id="email" name="email" data-ng-model="user.email" required data-ng-pattern="/^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$/" /></div>
                <div class="field"><label for="username">UserName * :</label><input type="text" id="username" name="username" data-ng-model="user.username" required /></div>
				<div class="field" data-ng-if="user.id <= 0"><label for="pwd">Password * :</label><input type="password" id="pwd" name="password" data-ng-model="user.password" required data-ng-pattern="/^(?=.*[A-Z])(?=.*[$%?&*!#])(?=.*[0-9]).{8,}$/" /></div>
				<div class="field" data-ng-if="changePassword == true"><label for="pwd">Change Password * :</label><input type="password" id="pwd" name="password" data-ng-model="user.password" required data-ng-pattern="/^(?=.*[A-Z])(?=.*[$%?&*!#])(?=.*[0-9]).{8,}$/" /></div>
                <div class="field"><label for="role">Role * :</label><select id="role" data-ng-model="user.role" name="role" data-ng-options="role.id as role.name for role in roleList" required ></select></div>
                <div class="field"><label for="active">Active?</label>
                    <input type="checkbox" id="active" name="active" data-ng-true-value="'1'" data-ng-false-value="'0'" data-ng-model="user.active" data-ng-change="userCTL.approve()"/>
                    <div style="display:inline;" data-ng-switch on="user.approved">
                        <span style="background:limegreen;" data-ng-switch-when="1">Approved</span>
                        <span style="background:yellow;" data-ng-switch-default>Pending</span>
                    </div>
                </div>
                <div class="field"><label for="name">Name :</label><input type="text" id="name" name="name" data-ng-model="user.name" /></div>
				<div class="field"><label for="title">Title :</label><input type="text" id="title" name="title" data-ng-model="user.title" /></div>
				<div class="field"><label for="supervisor">Supervisor :</label><input type="text" id="supervisor" name="supervisor" data-ng-model="user.supervisor" /></div>
                <div class="field"><label for="address">Address:</label><input type="text" id="address" name="address" data-ng-model="user.address" /></div>
                <div class="field"><label for="phone">Phone :</label><input type="text" id="phone" name="phone" data-ng-model="user.phone" data-ng-pattern="/^[0-9]{3}-[0-9]{3}-[0-9]{4}$/" /></div>
			</div>
		</form>
		<a id="btnSave" class="btn" data-ng-click="userCTL.save();" ng-disabled="userForm.$pristine || userForm.$invalid" data-ng-if="canSave">Save</a>
		<a id="btnDelete" class="btn" data-ng-click="userCTL.delete();" ng-disabled="!canDelete" data-ng-if="isAutorizeDeletingUser">Delete</a>
        <a id="btnReset" class="btn" data-ng-click="userCTL.resetFrm();userCTL.resetMsg();" ng-disabled="userForm.$pristine">Reset</a>
        <a id="btnChgPassword" class="btn" data-ng-click="userCTL.changePassword()" data-ng-if="user.id > 0 && isAutorizeChangingPassword == true">Password</a>
	</div>
    
    <div class="wrap"></div>
</div>