<div id="menu" data-ng-controller="loginCTL as loginCTL" data-ng-include="'menu.html'" style="position: relative; z-index: 1" ></div>
<div class="main">
	<div>
        <h1 class="test">Equipment List</h1>
        <span class="error" data-ng-show="lstError">{{lstError}}</span>
		<table border="1">
            <tr><th>Serial Number</th><th>Model</th></tr>
			<tr data-ng-repeat="e in equipmentList" data-ng-click="equipCTL.seeEquipmentDetails(e)">
				<td>{{e.serialNumber}}</td><td>{{e.model}}</td>
			</tr>
		</table>
	</div>
    
    <div class="wrap"></div>
</div>