<div id="menu" data-ng-controller="loginCTL as loginCTL" data-ng-include="'menu.html'" style="position: relative; z-index: 1" ></div>
<div class="main">
	<div class="pageDetails">
        <div class="top">{{equipment.serialNumber}}</div>
        <div class="core" >
            <div class="inner first">Bar Code : {{equipment.barCode}}</div>
            <div class="inner">Manufacturer : {{equipment.manufacturer}}</div>
            <div class="inner">Model : {{equipment.model}}</div>
            <div class="inner">HW Config : {{equipment.configHW}}</div>
            <div class="inner">SW Config : {{equipment.configSW}}</div>
            <div class="inner">Type : {{equipCTL.getLabelTYPE(equipment.type)}}</div>
            <div class="inner">Assigned Room : {{equipment.parentRoom.roomID}}</div>
            <div class="inner last" data-ng-if="equipment.parentRoom.id <= 0">Assigned Site : {{equipment.parentSite.name}}</div>
            <div class="inner last" data-ng-if="equipment.parentRoom.id > 0">Associate Site : {{equipment.parentRoom.siteName}}</div>
        </div>
        <div class="bot"></div>
    </div>  
    
    <div class="wrap"></div>
</div>