        <style type="text/css">
        #map-canvas {
            height: 100%;
            margin: 0;
            padding:10px;	 	 
        }
        </style>
        <div id="menu" data-ng-controller="loginCTL as loginCTL" data-ng-include="'menu.html'" style="position: relative; z-index: 1" ></div>
        <div id="map-canvas">Google Earth Not available</div>
        <div data-ng-controller="mapCTL as mapCTL" data-ng-init="mapCTL.createMarkers(siteCTL.getListSites());mapCTL.initFilter(ROLE, ORGANIZATION);">
            <div id="slideFilter" class="slider">
                <span>Filters</span>
                <div class="slider_inner">
                    <span style="text-decoration:underline;">Filtering by Role :</span>
                    <div data-ng-repeat="role in ROLE">
                        <input type="checkbox" id="r{{role.value}}" data-ng-model="filterRole[role.value]" data-ng-change="mapCTL.applyFilter()" />{{role.label}}
                    </div>
                    <hr>
                    <span style="text-decoration:underline;">Filtering by Organization :</span>
                    <div data-ng-repeat="org in ORGANIZATION">
                        <input type="checkbox" id="r{{org.value}}" data-ng-model="filterOrg[org.value]" data-ng-change="mapCTL.applyFilter()" />{{org.label}}
                    </div>
                </div>
            </div>
            <div id="slideLayout" class="slider">
                <span>Option</span>
                <div class="slider_inner">
                    <span style="text-decoration:underline;">Display Option :</span>
                    <div>
                        <input type="checkbox" id="" data-ng-model="optLayerZone" data-ng-change="mapCTL.changeLayerZone()" />Zone Layer
                    </div>
                </div>
            </div>
        </div>