<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Mesto - find it!</title>
    <style type="text/css">
   	#header, #footer{
	width:100%;
	height:70px;
    background-color: #3E75A6;
    color:white;
    text-align:left;
    padding:15px 0;
	}
    
	#logo {
		position:relative;
		float:left;
	}
	#search_bar {
	float:left;
	width: 350px;
	height: 50px;
	z-index:2;
	}
	a {
    color:white;
	}

	</style>
    <link rel="stylesheet" href="./ressources/css/login_dd_style.css" />
    
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCtGKY6V-0PBUobXIG63JvdgGrldlC109Q">
    </script>
    <script type="text/javascript" src="./libs/geoxml3.js"></script>
	<script type="text/javascript" src="./libs/jquery-2.1.3.min.js"></script>
    <script type="text/javascript" src="./libs/angular.min.js"></script>
    <script type="text/javascript" src="./libs/angular-route.min.js"></script>
    
	<script type="text/javascript" src="./js/login_drop_down.js"></script>
    
    <script type="text/javascript" src="./js/mestoApp.js"></script>
    <script type="text/javascript" src="./js/loginCTL.js"></script>
    <script type="text/javascript" src="./js/mapCTL.js"></script>
    
	<!-- Script to load the top menu bar in div id menu -->
	<script type="text/javascript">
		$(document).ready(function() {
			$('#search_bar').load('search_bar.html');
		});
	</script>
  </head>
  <body data-ng-app="MESTO">
  <div id="header">
	<div id="logo">
		<img src="./ressources/images/mesto.png" alt="Mesto" style="width:250px;height:70px">
	</div>
	<div id="search_bar"></div>
		<div id="container">
            <!-- Login Starts Here -->
            <div id="loginContainer" data-ng-controller="loginCTL">
                <span style="padding-right:5px" data-ng-if="isLogged()">Welcome {{username}}</span>
                <a href="#" id="logoutButton" data-ng-if="isLogged()" data-ng-click="logout()"><span>Logout</span></a>
                <a href="#" id="loginButton" data-ng-if="!isLogged()"><span>Login</span><em></em></a>
                <div style="clear:both"></div>
                <div id="loginBox">              
                    <form id="loginForm" name="loginForm" data-ng-submit="login(logInfo)" novalidate>
                        <fieldset id="body">
                            <fieldset>
                                <label for="username">User Name</label>
                                <input type="text" name="username" id="username" data-ng-model="logInfo.username"/>
                            </fieldset>
                            <fieldset>
                                <label for="pwd">pwd</label>
                                <input type="password" name="pwd" id="pwd" data-ng-model="logInfo.pwd"/>
                            </fieldset>
                            <input type="submit" id="login" value="Sign in" />
                            <label for="checkbox"><input type="checkbox" id="checkbox" />Remember me</label>
                        </fieldset>
                        <span><a href="#">Forgot your password?</a></span>
                    </form>
                </div>
            </div>
            <!-- Login Ends Here -->
        </div>
  </div>
  <div style="height:100%">
    <ng-view></nb-view>
  </div>
  <div id="footer"></div>
  </body>
</html>
