<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Mesto - find it!</title>
    <style type="text/css">
   	header {
        width:100%;
        height:70px;
        background-color: #3E75A6;
        color:white;
        text-align:left;
        padding:15px 0;
	}
   	footer{
        width:100%;
        height:30px;
        background-color: #3E75A6;
        color:white;
        text-align:left;
        position: fixed;
        bottom: 0;
	}
    
	#logo {
		position:relative;
		float:left;
	}
	#search_bar {
        float:left;
        width: 350px;
        height: 50px;
        z-index:2;
	}

	</style>
    <link rel="stylesheet" type="text/css" href="./ressources/css/login_dd_style.css" />
    <link rel="stylesheet" type="text/css" href="ressources/css/mesto.css">
    
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCtGKY6V-0PBUobXIG63JvdgGrldlC109Q">
    </script>
    <script type="text/javascript" src="./libs/geoxml3.js"></script>
	<script type="text/javascript" src="./libs/jquery-2.1.3.min.js"></script>
    <script type="text/javascript" src="./libs/angular.min.js"></script>
    <script type="text/javascript" src="./libs/angular-route.min.js"></script>
    
	<script type="text/javascript" src="./js/login_drop_down.js"></script>
    <script type="text/javascript" src="./js/mestoHelper.js"></script>
    
    <script type="text/javascript" src="./js/mestoApp.js"></script>
    <script type="text/javascript" src="./js/loginCTL.js"></script>
    <script type="text/javascript" src="./js/mapCTL.js"></script>
    <script type="text/javascript" src="./js/siteCTL.js"></script>
    <script type="text/javascript" src="./js/roomCTL.js"></script>
    <script type="text/javascript" src="./js/equipmentCTL.js"></script>
    <script type="text/javascript" src="./js/headerCTL.js"></script>
    <script type="text/javascript" src="./js/permissionCTL.js"></script>
    <script type="text/javascript" src="./js/userCTL.js"></script>
    
  </head>
  <body data-ng-app="MESTO">
  <header data-ng-controller="headerCTL as headCTL">
	<div id="logo">
		<img src="./ressources/images/mesto.png" alt="Mesto" style="width:250px;height:70px">
	</div>
	<div id="search_bar" data-ng-if="headCTL.isSearchDisplay()">
        <form class="searchform cf">
            <input type="text" placeholder="Is it me you&#39;re looking for?">
            <button type="submit">Search</button>
        </form>
    </div>
		<div id="container" data-ng-if="headCTL.isLoginDisplay()">
            <!-- Login Starts Here -->
            <div id="loginContainer" data-ng-controller="loginCTL as loginCTL">
                <span style="padding-right:5px" data-ng-if="loginCTL.isLogged()">Welcome {{loginCTL.getUsername()}}</span>
                <a id="logoutButton" data-ng-if="loginCTL.isLogged()" data-ng-click="loginCTL.logout()"><span>Logout</span></a>
                <a id="loginButton" data-ng-if="!loginCTL.isLogged()" onclick="$('#loginBox').toggle();$('#loginForm').toggleClass('active');"><span>Login</span><em></em></a>
                <div style="clear:both"></div>
                <div id="loginBox">              
                    <form id="loginForm" name="loginForm" data-ng-submit="loginCTL.login(logInfo)" novalidate>
                        <fieldset id="body">
                            <fieldset>
                                <label for="username">User Name</label>
                                <input type="text" name="username" id="username" data-ng-model="logInfo.username"/>
                            </fieldset>
                            <fieldset>
                                <label for="pwd">password</label>
                                <input type="password" name="pwd" id="pwd" data-ng-model="logInfo.pwd"/>
                            </fieldset>
                            <input type="submit" id="login" value="Sign in" />
                            <label for="checkbox"><input type="checkbox" id="checkbox" />Remember me</label>
                        </fieldset>
                        <span><a href="#">Forgot your password?</a></span>
                    </form>
                </div>
            </div>
            <!-- Login Ends Here -->
        </div>
  </header>
  <div style="height:100%;display: block;">
    <ng-view></ng-view>
    <div class="wrap"></div>
  </div>
  <footer></footer>
  </body>
</html>
