<div class="main" >
	<span class="titre">See your user</span>
	<div>
		<div data-ng-show="userForm.$dirty && userForm.$invalid">
			<span class="error" data-ng-show="userForm.email.$error.required">An email is required.</span>
			<span class="error" data-ng-show="userForm.email.$error.pattern">Invalid email.</span>
			<span class="error" data-ng-show="userForm.username.$error.required">An username is required.</span>
            <span class="error" data-ng-show="userForm.role.$error.required">A role is required.</span>
			<span class="error" data-ng-show="userForm.phone.$error.pattern">Invalid Phone number.</span>
		</div>
        <span class="error">{{SQLErrors}}</span>
        <span class="t">{{SQLMsgs}}</span>
		<form class="basic" name="userForm" novalidate >
			<input type="hidden" id="id" name="id" data-ng-model="user.id" />
			<div class="section">
				<div class="field"><label for="email">Email *(lowercase only) :</label><input type="text" id="email" name="email" data-ng-model="user.email" required data-ng-pattern="/^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$/" /></div>
                <div class="field"><label for="username">UserName * :</label><input type="text" id="username" name="username" data-ng-model="user.username" required disabled /></div>
				<div class="field"><label for="role">Role * :</label><select id="role" data-ng-model="user.role" name="role" data-ng-options="role.id as role.name for role in roleList" required disabled ></select></div>
                <div class="field"><label for="name">Name :</label><input type="text" id="name" name="name" data-ng-model="user.name" /></div>
				<div class="field"><label for="title">Title :</label><input type="text" id="title" name="title" data-ng-model="user.title" /></div>
				<div class="field"><label for="supervisor">Supervisor :</label><input type="text" id="supervisor" name="supervisor" data-ng-model="user.supervisor" /></div>
                <div class="field"><label for="address">Address:</label><input type="text" id="address" name="address" data-ng-model="user.address" /></div>
                <div class="field"><label for="phone">Phone :</label><input type="text" id="phone" name="phone" data-ng-model="user.phone" data-ng-pattern="/^[0-9]{3}-[0-9]{3}-[0-9]{4}$/" /></div>
			</div>
		</form>
		<a id="btnSave" class="btn" data-ng-click="userCTL.save();" ng-disabled="userForm.$pristine || userForm.$invalid" >Save</a>
	</div>
    
    <hr>
    
    <span class="titre">Change your password</span>
	<div>
		<div data-ng-show="userPwdForm.$dirty && userPwdForm.$invalid">
			<span class="error" data-ng-show="userPwdForm.password.$error.required">A password is required.</span>
			<span class="error" data-ng-show="userPwdForm.password.$error.pattern">Invalid password, must contain one number, one uppercase, one special symbol [$%?&*!#] and at least 8 characters long.</span>
		</div>
        <span class="error">{{SQLPwdErrors}}</span>
        <span class="t">{{SQLPwdMsgs}}</span>
		<form class="basic" name="userPwdForm" novalidate >
			<input type="hidden" id="id" name="id" data-ng-model="user.id" />
			<div class="section">
				<div class="field"><label for="pwd">New Password * :</label><input type="password" id="pwd" name="password" data-ng-model="user.password" required data-ng-pattern="/^(?=.*[A-Z])(?=.*[$%?&*!#])(?=.*[0-9]).{8,}$/" /></div>
            </div>
		</form>
		<a id="btnSavePwd" class="btn" data-ng-click="userCTL.savePwd();" ng-disabled="userPwdForm.$pristine || userPwdForm.$invalid" >Change</a>
	</div>
    
    </br>
    <span><a href="#/home">Go back Home</a></span>
    <div class="wrap"></div>
</div>