<link rel="stylesheet" type="text/css" href="ressources/css/mesto.css">
<script type="text/javascript">
    $(document).ready(function() {
        $('#menu').load('menu.html');
    });
</script>
<div id="menu" style="position: relative; z-index: 1" ></div>
<div class="main">
	<div>
        <h1>Room List</h1>
        <span class="error" data-ng-show="lstError">{{lstError}}</span>
		<table border="1">
            <tr><th>Room ID</th><th>Point of Contact</th></tr>
			<tr data-ng-repeat="r in roomList" data-ng-click="loadRoom(r)">
				<td>{{r.roomID}}</td><td>{{r.pointOfContact}}</td>
			</tr>
		</table>
	</div>
</div>