<div id="menu" data-ng-controller="loginCTL as loginCTL" data-ng-include="'menu.html'" style="position: relative; z-index: 1" ></div>
<div class="main">
	<div>
        <h1 class="test">Sites List</h1>
        <alert type="danger" data-ng-show="lstError">{{lstError}}</alert>
		<table border="1">
            <tr><th>Name</th><th>Address</th><th>City</th><th>Province</th><th>Postal code</th><th>Role</th><th>Point of Contact</th><th>Phone number of PoC</th></tr>
			<tr data-ng-repeat="s in siteList" data-ng-click="siteCTL.seeSiteDetails(s);">
				<td>{{s.siteName}}</td><td>{{s.address}}</td><td>{{s.city}}</td><td>{{s.province}}</td><td>{{s.postalCode}}</td><td>{{siteCTL.getLabelROLE(s.role)}}</td><td>{{s.pointOfContact}}</td><td>{{s.phoneNumberPoC}}</td>
			</tr>
		</table>
	</div>
    
    <div class="wrap"></div>
</div>